* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 14px;
  font-family: "Poppins", sans-serif;
}

:root {
  --light-green: #ddede8;
  --green: #097a56;
  --light-grey: #ebecf1;
  --white: #fff;
}
